// Responsive Circles
@mixin setCircleWidth($circleWidth, $margin, $float){
		text-decoration: none;
		display: inline-block;
		font-size: 30px;
		font-weight: 700;
		float: $float;
		margin: $margin;
		width: $circleWidth;
}
@mixin setCircleAfter(){
		border-radius: 50%;
		content: "";
		display: block;
		height: 0;
		padding-bottom: 100%;
		width: 100%;
}
@mixin setCircleDivColor($color){
		color: $color;
		float: left;
		line-height: 1em;
		margin-top: -0.5em;
		padding-top: 50%;
		text-align: center;
		width: 100%;
}