//Heights
$full-screen-height-offsetnav: 96vh;
$full-screen-height: 100vh;
$half-screen-height: 50vh;
$footerPadding: 30px 10px;


//Aligns & Floats
$center: 0 auto;
$floatNone: none;
$floatLeft: left;
$floatRight: right;


/* CORE */
html, body{
	padding: 0;
	margin: 0;
}

#container{
	height: 100%;
}

#top{
	height: $full-screen-height;
	background: $topbg;
	overflow: hidden;
}
#top-contain{
	height: 100%;
}

#middle{
	height: $full-screen-height;
	background: $middlebg;
	overflow: hidden;
}

#bottom{
	height: $half-screen-height;
	background: $bottombg;
}

#footer{
	background: $footerbg;
	padding: $footerPadding;
	bottom: 0;
}

/* x and y center */
.outer{
	display: table;
	height: 100%;
	width: 100%;
}
.middle{
	display: table-cell;
	vertical-align: middle;
}
.inner {
	margin-left: auto;
	margin-right: auto;
}

/* Generic */
.center{
	margin: $center;
}

.text-center{
	text-align: center;
}
