//Includes

@import 'reset';
@import 'colors';
@import 'functions';
@import 'animations';
@import 'structure';

/* CORE */

/* Circles */
.planet-1-circle {
	@include setCircleWidth(60%, $center, $floatNone)
}

.planet-1-circle::after {
	@include setCircleAfter()
}
.planet-1-circle div {
	@include setCircleDivColor(white)
}
.planet-1:after {
	background: url("https://cdn2.iconfinder.com/data/icons/communication-14/512/World-512.png") repeat scroll 0 0 / cover ;
}